<div class="d-flex flex-wrap">
  <div *ngFor="let quest of quests;" class="card m-3" style="width: 350px;">

    <div class="card-header">
      <img class="card-img-top" src="../../assets/cleaning.png" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{quest.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Reward: {{quest.reward}}</h6>
      <p class="card-text">{{quest.description}}</p>
      <p class="card-text ll-text-sm"><b>Requester:</b> {{quest.requester.name}}</p>
      <p class="card-text ll-text-sm"><b>Created:</b> {{quest.created | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-block btn-success">Start quest!</a>
    </div>
  </div>
</div>
